@{
    ViewBag.Title = "Tema do site";
}
<main aria-labelledby="title">
    <p>Site para organização de lista de compras em tema azul claro pêssego, com botôes em outline-info e outras decorações</p>
</main>